This is a really simple example for you to practice submitting code to be graded, and get used to the process.

It isn't for marks.

In [5]:
#We'll import some stuff. 
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np

Load in some data, put it into a dataframe.

In [6]:
df = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")
#testWord = "Blah Blah"

In [8]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [9]:
df.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In order for the system to automatically run your code, and verify the results are correct, the important bits of your code need to be in functions. The function signatures that are provided are key - don't change these, they system is looking for them in order to execute the code. You can fill them in with pretty much anything you need, and add whatever other code you need, but the provided functions must have the specified sigs and outputs for it to work.

The function below is a fully working example.

Given two sets of data, how much larger is the mean of the first vs the second. We'll do all the processing of the data inside the function.

The function takes in 5 paramaters, in order:
- The data we are using, in a dataframe.
- Which column we are comparing.
- Which column we are using to split the data into two sets.
- The value of group 1.
- The value of group 2.

In [7]:
#Provide the difference 
def compareTwoMeans(df_in, comparedCol, splitCol, group1, group2):
    #First, split the dat into group 1 and 2.
    #The two things below will be dataframes, only containing the part of the data matching the split info.
    dataSet1 = df_in[df_in[splitCol]==group1]
    dataSet2 = df_in[df_in[splitCol]==group2]
    #Take the mean of the specified column for each group.
    mean1 = dataSet1[comparedCol].mean()
    mean2 = dataSet2[comparedCol].mean()
    #We can add in a little print statement as we go, this will show up 
    #in the bottom terminal in VS Code.
    print("Mean 1: "+str(mean1)+" Mean 2: "+str(mean2))
    #Generate the difference
    diff = mean1-mean2
    return diff

Because we wrote our code in a function, we can't really see if it is working as we write it. We need to call that funciton - or execute it with some real values to see what happens. That's below.

In [11]:
compareTwoMeans(df,"Weight","Gender","Male","Female")

Mean 1: 106.31428571428572 Mean 2: 105.69803921568628

0.6162464985994376

You'll learn a bunch more about functions in the programming class. 
The main benefit is that it allows us to write some generic code once, and reuse it infinitely.
The function above can compare the means of pretty much anything - not just the specific difference in weights that we're doing.
This also means that when your code is being checked, we aren't looking for specific values, we'll feed some data to your code, and the same data to the solution code, and as long as they match, you're correct (or we're both wrong!). So, don't hard code values! Leaving variables as variables is required. 

When this is submitted, the above function will be marked correct, because my solution is the same code. 
Below, there's a couple for you to try - if your output matches mine, the system will mark it correct; if it is different, it'll be incorrect. 

Now you try....

In [3]:
#This one is simple - compare the medians.
#Try to write the code out yourself, don't just copy/paste from above. 
def compareTwoMedians(df_in, comparedCol, splitCol, group1, group2):
    dataSet1 = df_in[df_in[splitCol]==group1]
    dataSet2 = df_in[df_in[splitCol]==group2]
    mean1 = dataSet1[comparedCol].median()
    mean2 = dataSet2[comparedCol].median()
    correctAnswer = mean1-mean2
    print("Mean 1: "+str(mean1)+" Mean 2: "+str(mean2))
    return correctAnswer

In [7]:
#Call the function and check and see the results....
compareTwoMedians(df, "Weight", "Gender", "Male", "Female")

Mean 1: 105.0 Mean 2: 106.0

-1.0

A slightly more challenging example. 

Count the number of items that are above/below a given cutoff. 
This is going to be a very generic function, some examples of use are:
- Number of people with a weight over 100kg
- Number of people with a height under 162cm

Note the last paramater, isOver. This is a boolean (true/false), if it is True, then we are looking for things that are over; if it is false, we're looking for things that are under. This is a common way to do things that area choice between two options.

In [9]:
#Note: In the description I said above/below, when doing comparisions we need to be careful about strictly above vs equals and above....
def countMeetsCutoff(df_in, columnUsed, metric, isOver):
    return True #change this to a real return

In [10]:
#Call the function to see if it works
#This is the number of people over 100 kg
countMeetsCutoff(df,"Weight",100,True)

True